<%= form_with(model: api_bottle, local: true) do |form| %>
  <% if api_bottle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_bottle.errors.count, "error") %> prohibited this api_bottle from being saved:</h2>

      <ul>
      <% api_bottle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ml %>
    <%= form.number_field :ml %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
